:root {
    --maincolor: #0000ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header {
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
    background-color: aquamarine;
}

.header #logo img {
    width: 80px;
}

.header .navbar a {
    font-size: 1.2rem;
    margin-left: 1.5rem;
    color: var(--maincolor);
    font-size: 32px;
    font-weight: 400;
}

.header .navbar a:hover {
    color: var(--maincolor);
    text-shadow: 1.7px 0 rgb(10, 3, 3);
}

.header .icons {
    font-size: 2rem;
}

.header .icons div {
    margin-left: 1rem;
    cursor: pointer;
}

.header .icons div:hover {
    color: var(--maincolor);
}

.header .icons #menu-bars {
    display: none;
}

.header .search-box {
    position: absolute;
    top: 110%;
    right: 100%;
    width: 50%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header .search-box input {
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%;
    border: none;
}

.header .search-box.active {
    right: 2rem;
}

.header .navbar.active {
    left: 0;
}

.main-background {
    background: url(imgaes/andre-alexander-CKyD4ex3hUQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.main-text {
    text-align: center;
    padding-top: 15%;
}

.main-text h2 {
    color: white;
    font-size: 34px;
}

.main-text h1 {
    color: white;
    font-size: 36px;
}

.main-text h1 span {
    color: var(--maincolor);
}

.book-section {
    padding: 15rem 7%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-book {
    /* width: 75%; */
    background: rgb(34, 100, 155);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.inner-book input {
    padding: 1rem 2rem;
    margin: 0.5rem 0.5rem;
}

.book-btn {
    padding: 1.1rem 2rem;
    background: var(--maincolor);
    margin-left: 1.2rem;
}

.book-btn a {
    color: white;
    font-size: 1.5rem;
}

.main-hotel {
    padding: 2rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.award-winning-hotel h1 {
    color: rgb(50, 110, 10);
    font-size: 32px;
    text-align: center;
    padding: 2rem;
}

.award-winning-hotel h1 span {
    color: var(--maincolor);
}

.inner-award {
    flex: 1 1 300px;
}

.inner-award h2,
p {
    text-align: center;
}

.inner-award h2 {
    font-size: 30px;
    padding: 1rem;
}

.inner-award p {
    font-size: 1.7rem;
    padding: 2rem;
}

.inner-award img {
    width: 100%;
}

.our-rooms {
    padding: 2rem 7%;
}

.our-rooms h1 {
    color: black;
    text-align: center;
    font-size: 30px;
    padding-bottom: 2rem;
}

.our-rooms h1 span {
    color: var(--maincolor);
}

.inner-rooms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.inner-rooms .room-box {
    flex: 1 1 300px;
}

.inner-rooms .room-box img {
    width: 100%;
    padding: 1rem;
}

.inner-rooms .room-box .beds {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.inner-rooms .room-box .beds span {
    font-size: 1.2rem;
}

.inner-rooms .room-box .beds i {
    font-size: 1.5rem;
    color: var(--maincolor);
    cursor: pointer;
}

.book-room-btn {
    width: 30%;
    margin: 0 auto;
    padding: 1rem 2rem;
    border: 1px solid var(--maincolor);
    text-align: center;
}

.book-room-btn:hover {
    color: white;
    background: var(--maincolor);
}

.book-room-btn a {
    color: black;
    font-size: 1rem;
    font-weight: 650;
}

.book-room-btn a:hover {
    color: white;
}

.second-background {
    background: url(imgaes/secondback.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-background {
    text-align: center;
}

.second-background h1 {
    font-size: 60px;
    color: white;
}

.second-background h2 {
    color: var(--maincolor);
    font-size: 35px;
}

.gallery {
    padding: 2rem 7%;
}

.gallery h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 2rem;
}

.gallery h1 span {
    color: var(--maincolor);
}

.main-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.inner-gallery img {
    width: 100%;
}

.img-inner {
    width: 100%;
    padding: 1rem;
}

.inner-text {
    font-size: 26px;
}

.btn {
    border: 2px saddlebrown solid;
    padding: 10px 20px;
    font-size: 26px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 63, 43);
    border-radius: 5px;
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
    .header .icons #menu-bars {
        display: inline-block;
    }
    .header {
        padding: 2rem;
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        left: 100%;
        right: 0;
        background: var(--maincolor);
    }
    .header .navbar a {
        display: block;
        margin: 1rem;
        padding: 1rem;
        background: white;
        border-radius: 10px;
    }
    .book-btn {
        width: 100%;
        margin-top: .5rem;
    }
    .book-section {
        padding: 2rem 0;
    }
}

.footer {
    height: 1000px;
}

#footer_wrapper {
    width: 100%;
    background-color: black;
    height: 200px;
}

#footer {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    color: #CCC;
}

#footer a {
    color: #ffe139
}

#footer .section_3 {
    float: left;
    width: 30%;
}

#footer .section_3 .subcontent {
    padding: 15px;
}

#footer .section_3 h3 {
    width: 175px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

#footer .footer_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#footer .footer_list li {
    margin: 0px;
    padding: 3px 0;
}

#footer .footer_list li a {
    color: #cccccc;
}

#footer .footer_list li a:hover {
    color: #ffffff;
    text-decoration: none;
}


/* end of footer */


/* gioi thieu */

.gioithieu img {
    width: 640px;
}

.gioithieu .w-50 .content {
    /* padding-left: 500px; */
    margin-left: 100px;
    margin-top: 50px;
    text-align: left;
}

.amthuc {
    background-image: url(https://furamavietnam.com/wp-content/uploads/2018/08/Cafe-Indochine-banner.jpg?id=1515) !important;
}

.phong {
    margin-top: 100px !important;
    background-image: url(https://furamavietnam.com/wp-content/uploads/2018/08/banner01.jpg?id=1433) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}